#breathing-container {
  text-align: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
#breathing-circle {
  width: 150px;
  height: 150px;
  margin: 0;
  border-radius: 50%;
  background-color: #79c;
  transition: transform 5s ease-in-out;
}
#breathing-circle.grow {
  transform: scale(1.5);
}
#breath-message {
  font-size: 1.25rem;
}
#breath-timer {
  font-size: 1rem;
}

